table{

    width: 100%;
}

tr{
    background-color: $primary-background-color ;
    width: 100%;
    text-align: left;
}

th, td{
    padding: 10px;
    cursor: default;
    width: 50%;
}

p{
    margin-bottom: 10px;
}